/* Navbar container */
.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5FDF4;
    padding: 8px 20px;
    position: relative;
}

/* Navbar logo section */
.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo img {
    max-height: 40px;
    margin-right: 5px;
    border-radius: 50%;
}

.navbar_header a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #333333;
}

/* Navbar links section */
.navbar_ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar_ul li {
    margin-right: 15px;
}

.navbar_ul li:last-child {
    margin-right: 0;
}

.navbar_ul a {
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    color: #333333;
    transition: color 0.3s ease;
}

.buttonNavbar{
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    color: #333333;
    transition: color 0.3s ease;
    background: none;
    border: none;
}

.navbar_ul a:hover {
    color: #678c70;
}

/* Hamburger icon for smaller screens */
.hamburger_icon {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 10;
}

.hamburger_icon span {
    width: 100%;
    height: 3px;
    background-color: #333333;
    border-radius: 2px;
}

/* Responsive styling for screens 768px and smaller */
@media (max-width: 768px) {
    .navbar_ul {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #F5FDF4;
        padding: 10px 0;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar_ul.open {
        display: flex;
    }

    .hamburger_icon {
        display: flex;
    }
}

/* Responsive font sizes for very small screens */
@media (max-width: 480px) {
    .navbar_header a {
        font-size: 1.2rem;
    }

    .navbar_ul a {
        font-size: 1rem;
    }

    .navbar_ul li {
        margin: 8px 0;
    }
}